body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #0528B9;
  }
  
  nav {
    background-color: #3E64FF;
    color: #3E64FF;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  
  .profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #796aff;
   
  }
  
  .profile-photo {
    text-align: center;
  }
  
  .profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }
  
  .form-group {
    margin-bottom: 15px;
    background-color:#5edfff ;
   
  }
  
  label {
    display: block;
    font-weight: bold;
    background-color:#ceecf3 ;
   
  }
  
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
    
    
  }
  
  button {
    background-color: #052296;
    color: #fff;
    border: none
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 16px;

  }
  
  button:hover {
    background-color: #45a049;
  }